body {
   background-color: black;
   background-image: url(images/creditsbg.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 1920px;
   background-position-x: center;
   image-rendering: pixelated;
   color: white;
   text-align: center;
   font-family: "Press Start 2P", system-ui;
   font-size: 100%;
   text-shadow: 2px 2px black;
}

.wrapper {
   max-width: 720px;
   margin: auto;
   padding: 4rem;
}

section {
   padding-bottom: 2rem;
}

section:last-of-type {
   padding-bottom: 5rem;
}

h2 {
   padding-bottom: 1rem;
}

a {
   color: white;
}
a:hover {
   color: green;
}

@media only screen and (max-width: 480px) {
   body {
      font-size: 150%;
      text-shadow: 3px 3px black;
      line-height: 1.1;
   }
}