body {
   background-color: darkorange;
   color: white;
   text-align: center;
   font-family: "Press Start 2P", system-ui;
   text-shadow: 2px 2px black;
}

.wrapper {
   max-width: 720px;
   margin: auto;
   padding: 1rem;
}

section {
   padding-bottom: 2rem;
}

section:last-of-type {
   padding-bottom: 5rem;
}

h2 {
   padding-bottom: 1rem;
}

a {
   color: white;
}
a:hover {
   color: green;
}

section {}